<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitnei.cloud.report.mapper.AreaMileageMapper">


    <select id="queryAreaMonthly" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    select
    u.* ,
        (u.quYuZong/u.zong*100) as zhanBi
          from (
                 select
                 '${shiJian}' as shiJian,
                 veh.license_plate as chePai,
                 veh.vin as VIN,
                 f.name as shangPai,
                 e.name as xingShi,
                 c.name as yunYing,
                 b.veh_model_name as cheLiangMing,
                 sum(meter_total_mileage) as quYuZong,
                 sum(gps_total_mileage) as  quYuGPS,
                 g.zong as zong,
                 sd.name as jieDuan
                 from veh_dayreport_region a
                 inner join  sys_vehicle veh   on  a.vid=veh.uuid
                 left join   sys_veh_model b    on  b.id=veh.veh_model_id
                 left join   sys_unit  c        on  c.id=veh.use_uint_id
                 left join   sys_area e         on  e.code=a.city
                 left join   sys_area f         on  f.id=veh.sys_division_id
                 left join (select  t.last_end_mileage zong,vid from  veh_dayreport_summary  t where t.report_date=#{date2}  )  g  on   g.vid=a.vid
                 left join sys_dict sd ON veh.registerstatus=sd.val AND sd.type='500'
                 <include refid="Common.userVehiclePermission"/>
                 <![CDATA[  and a.report_date<= #{date2}  ]]>
                 <if test= 'xingShi!=null '> and (a.city = #{xingShi} or a.province = #{xingShi} )</if>
                 <if test= 'shangPai!=null '> and f.name like #{shangPai} </if>
                 <if test= 'chePai!=null '> and veh.license_plate like #{chePai} </if>
                 <if test= 'VIN!=null '> and veh.vin like #{VIN} </if>
                 <if test= 'cheLiangMing!=null '> and b.veh_model_name like #{cheLiangMing} </if>
                 <if test= 'yunYing!=null '> and c.path like #{yunYing} </if>
                 <if test= 'jieDuan!=null '> and  veh.registerstatus = #{jieDuan} </if>
                 and e.name is not null
                 group by veh.license_plate,  a.city
          ) u
         where 1=1
        <if test ='quYuZong!=null '> <![CDATA[and  u.quYuZong> #{quYuZong}]]> </if>
        order by u.xingShi asc,u.zong desc
        <if test="begin != null and end!=null "> limit ${begin},${end}</if>
    </select>




    <select id="countAreaMonthly" resultType="long" parameterType="java.util.HashMap">
        select
        count(1)
        from (
        select
        sum(meter_total_mileage) as quYuZong
        from veh_dayreport_region a
        inner join  sys_vehicle veh   on  a.vid=veh.uuid
        left join   sys_veh_model b    on  b.id=veh.veh_model_id
        left join   sys_unit  c        on  c.id=veh.use_uint_id
        left join   sys_area e         on  e.code=a.city
        left join   sys_area f         on  f.id=veh.sys_division_id
        left join (select  t.last_end_mileage zong,vid from  veh_dayreport_summary  t where t.report_date=#{date2}  )  g  on   g.vid=a.vid
        left join sys_dict sd ON veh.registerstatus=sd.val AND sd.type='500'
        <include refid="Common.userVehiclePermission"/>
        <![CDATA[  and a.report_date<= #{date2}  ]]>
        <if test= 'xingShi!=null '> and (a.city = #{xingShi} or a.province = #{xingShi} )</if>
        <if test= 'shangPai!=null '> and f.name like #{shangPai} </if>
        <if test= 'chePai!=null '> and veh.license_plate like #{chePai} </if>
        <if test= 'VIN!=null '> and veh.vin like #{VIN} </if>
        <if test= 'cheLiangMing!=null '> and b.veh_model_name like #{cheLiangMing} </if>
        <if test= 'yunYing!=null '> and c.path like #{yunYing} </if>
        <if test= 'jieDuan!=null '> and  veh.registerstatus = #{jieDuan} </if>
                                        and e.name is not null
        group by veh.license_plate,  a.city
        ) u
        where 1=1
        <if test ='quYuZong!=null '> <![CDATA[and  u.quYuZong> #{quYuZong}]]> </if>

    </select>


</mapper>