<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.report.mapper.DayMileageCheckMapper">
    <!--<cache type="com.bitnei.cloud.common.cache.MybatisRedisCache" eviction="LRU" flushInterval="6000000" size="1024" readOnly="false"/>-->
    <resultMap id="tailResults" type="com.bitnei.cloud.report.domain.DayMileageCheck" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        d.*
    </sql>

    <!-- 添加查询条件 -->
    <sql id="addQueryCriteria">
        <if test="reportDateStart!=null and reportDateStart!=''">
            AND   VDMC.REPORT_DATE &gt;=   #{reportDateStart,jdbcType=VARCHAR}
        </if>
        <if test="reportDateEnd!=null and reportDateEnd!=''">
            AND   VDMC.REPORT_DATE &lt;= #{reportDateEnd,jdbcType=VARCHAR}
        </if>

        <if test="vin!=null and vin!=''">
            <bind name="vin" value="'%'+vin+'%'"/>
            AND VEH.VIN LIKE  #{vin}
        </if>
        <if test="licensePlate!=null and licensePlate!=''">
            <bind name="licensePlate" value="'%'+licensePlate+'%'"/>
            AND VEH.LICENSE_PLATE LIKE  #{licensePlate}
        </if>




        <if test="dayVALIDMileage!=null and dayVALIDMileage!=''">
            AND   VDMC.DAY_VALID_MILEAGE &gt;= #{dayVALIDMileage}
        </if>
        <if test="dayGpsMileage!=null and dayGpsMileage!=''">
            AND   VDMC.DAY_GPS_MILEAGE &gt;= #{dayGpsMileage}
        </if>
        <if test="dayOnlineMileage!=null and dayOnlineMileage!=''">
            AND   VDMC.DAY_VALID_MILEAGE &gt;= #{dayOnlineMileage}
        </if>

        /*字典查询项*/
        /*运营单位*/
        <if test="unit!=null and unit!='0'.toString()">
            AND  UNITUSE.id = #{unit}
        </if>
        /* 车型*/
        <if test="vehModelNum!=null and vehModelNum!='-1'">
            AND  SVM.id = #{vehModelNum}
        </if>
        /* 车辆种类 */
        <if test="vehtype!=null and vehtype!='' and vehtype!='0'.toString()">
            AND  SYSDICT.id = #{vehtype}
        </if>
        /* 上牌区域*/
        <if test="veharea!=null and veharea!='0'.toString()">
            AND  SYSAREA.id =  #{veharea}
        </if>

    </sql>

    <!--车辆表使用别名 veh-->
    <sql id="userVehiclePermission">
        <choose>
            <when test=" isLeader != null and isLeader == 0 ">
                JOIN (
                SELECT
                uv.vehicle_id AS vehId
                FROM
                sys_user_vehicle_lk uv
                WHERE
                uv.user_id = #{userId}
                UNION
                SELECT
                gv.vehicle_id AS vehId
                FROM
                sys_group_vehicle_lk gv
                INNER JOIN sys_group_user_lk gu ON gu.group_id = gv.group_id
                WHERE
                GU.USER_ID = #{userId}
                ) pow ON veh.id = pow.vehId WHERE 1 = 1
            </when>
            <when test=" isLeader != null and isLeader == 1 and areaPath != '/0/' and unitTypeCode == '0001' ">
                LEFT JOIN sys_area sa ON sa.id = veh.sys_division_id
                LEFT JOIN sys_unit mu ON mu.id = veh.manu_unit_id
                WHERE
                mu.path LIKE '%${userUnitPath}%'
                AND sa.path LIKE '%${areaPath}%'
            </when>
            <when test=" isLeader != null and isLeader == 1 and areaPath != '/0/' and unitTypeCode != '0001' ">
                LEFT JOIN sys_area sa ON sa.id = veh.sys_division_id
                LEFT JOIN sys_unit uu ON uu.id = veh.use_uint_id
                WHERE
                uu.path LIKE '%${userUnitPath}%'
                AND
                sa.path LIKE '%${areaPath}%'
            </when>
            <when test=" isLeader != null and isLeader == 1 and areaPath == '/0/' and unitTypeCode == '0001' ">
                LEFT JOIN sys_unit mu ON mu.id = veh.manu_unit_id
                WHERE
                mu.path LIKE '%${userUnitPath}%'
            </when>
            <when test=" isLeader != null and isLeader == 1 and areaPath == '/0/' and unitTypeCode != '0001' ">
                LEFT JOIN sys_unit uu ON uu.id = veh.use_uint_id
                WHERE
                uu.path LIKE '%${userUnitPath}%'
            </when>
            <when test=" isLeader != null and isLeader == 2 and areaPath != '/0/' ">
                LEFT JOIN sys_area sa ON sa.id = veh.sys_division_id
                WHERE
                sa.path LIKE '%${areaPath}%'
            </when>
            <when test=" isLeader != null and isLeader == 2 and areaPath == '/0/' ">
                WHERE 1 = 1
            </when>
            <otherwise>
                WHERE 1 = 1
            </otherwise>
        </choose>
    </sql>



    <sql id="moreColumns">
        VDMC.ID AS IDS,
        VDMC.REPORT_DATE,
        date_format(VDMC.FIRST_ONLINE_TIME, '%Y-%m-%d %H:%i:%s') as FIRST_ONLINE_TIME,
        VDMC.FIRST_START_MILEAGE ,
        date_format(VDMC.LAST_COMMIT_TIME, '%Y-%m-%d %H:%i:%s') as LAST_COMMIT_TIME,
        VDMC.LAST_END_MILEAGE,
        VDMC.CHECK_DATA_TOTAL_NUM,
        VDMC.INVALID_NUM,
        VDMC.ABNORMAL_NUM,
        VDMC.DAY_ONLINE_MILEAGE,
        VDMC.DEDUCT_JUMP_MILEAGE,
        VDMC.DEDUCT_CURRENT_MILEAGE,
        VDMC.DAY_VALID_MILEAGE,
        VDMC.DAY_GPS_MILEAGE,
        CONCAT(CONVERT(VDMC.VALID_GPS_DEVIATION*100,decimal(18, 2)),'%') as VALID_GPS_DEVIATION,
        CONCAT(CONVERT(VDMC.ONLINE_VALID_DEVIATION*100,decimal(18, 2)),'%') as ONLINE_VALID_DEVIATION,
        <!--VDMC.VALID_GPS_DEVIATION,
        VDMC.ONLINE_VALID_DEVIATION,-->
        VDMC.DAY_CHECK_MILEAGE,
        SU.NAME AS MAKER,
        VEH.LICENSE_PLATE,
        VEH.VIN,
        VEH.ID,
        VEH.sys_division_id,
        VEH.use_uint_id,
        SVM.VEH_MODEL_NUM,
        SYSDICT.NAME AS VEHTYPE,
        SYSAREA.NAME AS  VEHAREA,
        UNITUSE.NAME  AS UNIT,
        SUT.CODE AS UNIT_TYPE_CODE,
        SUT.NAME AS UNIT_TYPE_NAME
    </sql>

    <!-- 查询所有的结果 -->
    <select id="all" resultType="com.bitnei.cloud.report.domain.Demo1">
        select
        <include refid="baseColumns"/>
        from
        veh_dayreport_fullstate d
    </select>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.report.domain.Demo1"  parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        veh_dayreport_fullstate d
        where
        d.id=#{value}
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        veh_dayreport_fullstate (id,name,dict_field,name_field,create_time,create_by)
        values
        (#{id},#{name},#{dictField},#{nameField},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update veh_dayreport_fullstate set
        id=id,name=#{name},dict_field=#{dictField},name_field=#{nameField},update_time=#{updateTime},update_by=#{updateBy}
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from
        veh_dayreport_fullstate
        where
        id = #{value}
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        SELECT  VEH.* FROM  (
        SELECT
        <include refid="moreColumns"/>
        FROM       VEH_DAYREPORT_MILEAGE_CHECK VDMC
        LEFT JOIN  SYS_VEHICLE VEH ON VDMC.vid = VEH.uuid
        LEFT JOIN  SYS_UNIT SU    ON  SU.ID =  VEH.MANU_UNIT_ID
        LEFT JOIN  SYS_VEH_MODEL  SVM ON VEH.VEH_MODEL_ID=SVM.ID
        LEFT JOIN  SYS_DICT SYSDICT  ON SYSDICT.ID = VEH.VEH_TYPE_ID
        LEFT JOIN  SYS_AREA SYSAREA   ON   SYSAREA.ID = VEH.SYS_DIVISION_ID
        LEFT JOIN  SYS_UNIT UNITUSE    ON  UNITUSE.ID =  VEH.USE_UINT_ID
        LEFT JOIN  SYS_UNIT_TYPE  SUT ON  SU.UNIT_TYPE_ID= SUT.ID
        where
        1=1

        <if  test="adminFlag == 0">
            <include refid="addQueryCriteria"/>
        </if>

        <if  test="adminFlag == 1">
            <if test="vehicId!=null and vehicId!=''">
                AND    VDMC.ID  IN   ${vehicId}
            </if>
        </if>
        ) VEH
        <include refid="userVehiclePermission"/>
        ORDER BY  VEH.LAST_COMMIT_TIME DESC ,VEH.REPORT_DATE DESC,VEH.LICENSE_PLATE DESC,VEH.VIN DESC
    </select>

    <!-- 根据车牌vin查询出所有的车的ID -->
    <select id="findInForVinAndLic" resultMap="tailResults" parameterType="java.util.HashMap">
        SELECT  VEH.* FROM  (
        SELECT
        <include refid="moreColumns"/>
        FROM       VEH_DAYREPORT_MILEAGE_CHECK VDMC
        LEFT JOIN  SYS_VEHICLE VEH ON VDMC.vid = VEH.uuid
        LEFT JOIN  SYS_UNIT SU    ON  SU.ID =  VEH.MANU_UNIT_ID
        LEFT JOIN  SYS_VEH_MODEL  SVM ON VEH.VEH_MODEL_ID=SVM.ID
        LEFT JOIN  SYS_DICT SYSDICT  ON SYSDICT.ID = VEH.VEH_TYPE_ID
        LEFT JOIN  SYS_AREA SYSAREA   ON   SYSAREA.ID = VEH.SYS_DIVISION_ID
        LEFT JOIN  SYS_UNIT UNITUSE    ON  UNITUSE.ID =  VEH.USE_UINT_ID
        LEFT JOIN  SYS_UNIT_TYPE  SUT ON  SU.UNIT_TYPE_ID= SUT.ID
        where
        1=1
        <if test="vin!=null and vin!=''">
            AND VEH.vin    =  #{vin}
        </if>
        <if test="lic!=null and lic!=''">
            AND VEH.LICENSE_PLATE    =  #{lic}
        </if>
        <if test="reportDateStart!=null and reportDateStart!=''">
            AND   VDMC.REPORT_DATE &gt;=   #{reportDateStart,jdbcType=VARCHAR}
        </if>
        <if test="reportDateEnd!=null and reportDateEnd!=''">
            AND   VDMC.REPORT_DATE &lt;= #{reportDateEnd,jdbcType=VARCHAR}
        </if>
        ) VEH
        <include refid="userVehiclePermission"/>

        ORDER BY  VEH.REPORT_DATE DESC ,VEH.VIN
    </select>



    <!--  按照id查询 -->
    <select id="pagerModelForId" resultMap="tailResults" parameterType="java.util.HashMap">
        SELECT  VEH.* FROM  (
        SELECT
        <include refid="moreColumns"/>
        FROM       VEH_DAYREPORT_MILEAGE_CHECK VDMC
        LEFT JOIN  SYS_VEHICLE VEH ON VDMC.vid = VEH.uuid
        LEFT JOIN  SYS_UNIT SU    ON  SU.ID =  VEH.MANU_UNIT_ID
        LEFT JOIN  SYS_VEH_MODEL  SVM ON VEH.VEH_MODEL_ID=SVM.ID
        LEFT JOIN  SYS_DICT SYSDICT  ON SYSDICT.ID = VEH.VEH_TYPE_ID
        LEFT JOIN  SYS_AREA SYSAREA   ON   SYSAREA.ID = VEH.SYS_DIVISION_ID
        LEFT JOIN  SYS_UNIT UNITUSE    ON  UNITUSE.ID =  VEH.USE_UINT_ID
        LEFT JOIN  SYS_UNIT_TYPE  SUT ON  SU.UNIT_TYPE_ID= SUT.ID
        where
        1=1

                <if test="listId!=null and listId!=''">
                    AND    VDMC.ID  IN   ${listId}
                </if>
        ) VEH
        <include refid="userVehiclePermission"/>

        ORDER BY  VEH.REPORT_DATE DESC ,VEH.VIN
    </select>

</mapper>
