<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.report.mapper.DayStatisticsMapper">
    <!--<cache type="com.bitnei.cloud.common.cache.MybatisRedisCache" eviction="LRU" flushInterval="6000000" size="1024" readOnly="false"/>-->
    <!--<resultMap id="tailResults" type="com.bitnei.cloud.report.domain.Demo1" autoMapping="true">-->
    <!--<association property="tails" javaType="java.util.HashMap">-->
    <!--</association>-->
    <!--</resultMap>-->

    <!--车辆监控情况统计-->
    <select id="queryMonitoringTable" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            date_format(vds.report_date, '%Y-%m-%d') AS reportDate,
            COUNT(date_format(veh.entry_date, '%Y-%m-%d')  &lt;= date_format(vds.report_date, '%Y-%m-%d') OR NULL) AS dayCount,
            COUNT(vds.append=1 OR NULL) AS newVehCount,
            COUNT((vds.last_commit_time &lt; CONCAT(date_format(vds.report_date, '%Y-%m-%d'), ' 00:00:00')) OR NULL ) AS notOnlineCount
        FROM
            veh_dayreport_summary vds
        LEFT JOIN sys_vehicle veh ON vds.vid = veh.uuid
        <include refid="Common.userVehiclePermission"/>
        <if test="beginDate != null and endDate != null">
            AND vds.report_date &gt;= #{beginDate} AND vds.report_date &lt;= #{endDate}
        </if>
            AND veh.id IS NOT NULL
        GROUP BY vds.report_date DESC
    </select>

    <!--车辆活跃情况统计-->
    <select id="queryActiveTable" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            date_format(vds.report_date, '%Y-%m-%d') AS reportDate,
            COUNT(vde.daily_active_total_time &gt; 0 OR NULL) AS dayActiveCount,
            COUNT(*) AS dayCount,
            COUNT(vde.daily_active_total_time) AS activeTimeCount,
            COUNT((vdas.abnormal_num/vdmc.check_data_total_num) &gt; 0.05 OR NULL) AS abnormalVehCount
        FROM
            veh_dayreport_summary vds
        LEFT JOIN sys_vehicle veh ON vds.vid = veh.uuid
        LEFT JOIN veh_dayreport_expansion vde ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(vde.report_date, '%Y-%m-%d') AND vds.vid=vde.vid)
        LEFT JOIN (SELECT ds.report_date,ds.vid,ds.abnormal_num FROM veh_dayreport_abnormal_situation ds WHERE ds.type='2') vdas
            ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(vdas.report_date, '%Y-%m-%d') AND vds.vid = vdas.vid)
        LEFT JOIN veh_dayreport_mileage_check vdmc ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(vdmc.report_date, '%Y-%m-%d') AND vds.vid = vdmc.vid)
        <include refid="Common.userVehiclePermission"/>
            AND vds.report_date &gt;= #{beginDate}
            AND vds.report_date &lt;= #{endDate}
            AND veh.id IS NOT NULL
        GROUP BY vds.report_date DESC
    </select>

    <!--车辆闲置情况统计-->
    <select id="queryIdleTable" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            idle.vid,
            sum(idle.run_km) AS xzlc,
            idle.plate,
            idle.vin,
            idle.vehStage,
            date_format(idle.entry_date, '%Y-%m-%d %H:%i:%s') AS entryDate,
            idle.areaId,
            idle.areaName,
            idle.vehTypeId,
            idle.vehTypeName,
            idle.modelId,
            idle.modelName,
            idle.modelNoticeId,
            idle.useUnitId,
            idle.useUnitName,
            date_format(idle.last_commit_time, '%Y-%m-%d %H:%i:%s') AS lastCommitTime,
            idle.lastEndMileage
        FROM
        (SELECT
            rt.vid,
            rt.run_km,
            veh.license_plate AS plate,
            veh.vin,
            sd.name AS vehStage,
            veh.entry_date,
            area.id AS areaId,
            area.name AS areaName,
            dict.id AS vehTypeId,
            dict.name AS vehTypeName,
            model.id AS modelId,
            model.veh_model_name AS modelName,
            model.model_notice_id AS modelNoticeId,
            unit.id AS useUnitId,
            unit.name AS useUnitName,
            vds.last_commit_time,
            vds.last_end_mileage AS lastEndMileage
        FROM
            veh_dayreport_summary vds
        LEFT JOIN veh_dayreport_runstate rt ON (date_format(vds.report_date, '%Y-%m-%d')=date_format(rt.report_time, '%Y-%m-%d') AND vds.vid=rt.vid)
        LEFT JOIN sys_vehicle veh ON rt.vid=veh.uuid
        LEFT JOIN sys_area area ON veh.sys_division_id=area.id
        LEFT JOIN sys_dict dict ON veh.veh_type_id=dict.id
        LEFT JOIN sys_veh_model model ON veh.veh_model_id=model.id
        LEFT JOIN sys_unit unit ON veh.use_uint_id=unit.id
        LEFT JOIN sys_dict sd ON veh.registerstatus=sd.val AND sd.type='500'
        <include refid="Common.userVehiclePermission"/>
            AND vds.report_date &gt;= #{beginDate}
            AND vds.report_date &lt;= #{endDate}
            AND veh.id IS NOT NULL
            <if test="idlePlate != null">
                AND veh.license_plate LIKE '%${idlePlate}%'
            </if>
            <if test="idleVIN != null">
                AND veh.vin LIKE '%${idleVIN}%'
            </if>
            <if test="idleVehStage != null and idleVehStage != '-1'">
                AND veh.registerstatus=#{idleVehStage}
            </if>
            <if test="idleUseUnitId != null">
                AND veh.use_uint_id=#{idleUseUnitId}
            </if>
            <if test="idleAreaId != null">
                AND veh.sys_division_id=#{idleAreaId}
            </if>
            <if test="idleVehTypeId != null">
                AND veh.veh_type_id=#{idleVehTypeId}
            </if>
            <if test="idleModelNoticeId != null and idleModelNoticeId != '-1'">
                AND model.id=#{idleModelNoticeId}
            </if>
            ) idle
        GROUP BY idle.vid HAVING sum(idle.run_km) &lt; #{idleMileageValue}
        <if test="idleMileage != null">
            AND sum(idle.run_km) &gt; #{idleMileage}
        </if>
        ORDER BY idle.entry_date DESC
    </select>

    <!--闲置车辆统计条件设置查询-->
    <select id="queryIdleByMileageValue" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            COUNT(*) AS idleVehNum,
            (SELECT COUNT(*) FROM sys_vehicle veh WHERE veh.entry_date &lt;= #{endDate}) AS vehCount
        FROM (
            SELECT rt.vid, sum(rt.run_km) AS cllc FROM
                veh_dayreport_runstate rt
            LEFT JOIN sys_vehicle veh ON rt.vid = veh.uuid
            <include refid="Common.userVehiclePermission"/>
            AND rt.report_time &gt;= #{beginDate}
            AND rt.report_time &lt;= #{endDate}
            AND veh.id IS NOT NULL
            GROUP BY rt.vid
        ) srun WHERE srun.cllc &lt; #{idleMileageValue};
    </select>

    <!--车辆行驶情况统计-->
    <select id="queryTravelTable" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            date_format(vds.report_date, '%Y-%m-%d') AS reportDate,
            SUM(vdr.run_time_sum) AS dayTravelTime,
            SUM(vdr.run_km) zlc,
            COUNT(sde.daily_active_total_time > 0 OR NULL) AS vehOnlineCount,
            MAX(sde.single_charge_max_mileage) AS onceChargeMaxMileage
        FROM
            veh_dayreport_summary vds
        LEFT JOIN sys_vehicle veh ON vds.vid=veh.uuid
        LEFT JOIN veh_dayreport_expansion sde ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(sde.report_date, '%Y-%m-%d') AND vds.vid=sde.vid)
        LEFT JOIN veh_dayreport_runstate vdr ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(vdr.report_time, '%Y-%m-%d') AND vds.vid=vdr.vid)
        <include refid="Common.userVehiclePermission"/>
            AND vds.report_date &gt;= #{beginDate}
            AND vds.report_date &lt;= #{endDate}
            AND veh.id IS NOT NULL
        GROUP BY
            vds.report_date DESC
    </select>

    <!--充耗电情况统计-->
    <select id="queryElectricityTable" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            date_format(vdc.report_time, '%Y-%m-%d') AS reportDate,
            COUNT((vdc.charge_time_sum > 0) OR NULL) AS chargeVehCount,
            SUM(vdc.charge_times) AS chargeCount,
            SUM(vdc.charge_time_sum) AS chargeTime,
            MAX(vdc.charge_time_max) AS longestChargeTime
        FROM
            veh_dayreport_chargestate vdc
        LEFT JOIN sys_vehicle veh ON vdc.vid=veh.uuid
        <include refid="Common.userVehiclePermission"/>
            AND vdc.report_time &gt;= #{beginDate}
            AND vdc.report_time &lt;= #{endDate}
            AND veh.id IS NOT NULL
        GROUP BY
            vdc.report_time DESC
    </select>

    <!--查询_弹出框_车辆监控情况统计_车辆录入总数（辆）/新增录入车辆数（辆）-->
    <select id="queryVehCountTableForDialog" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
              veh.id AS id,
              veh.vin AS vin,
              veh.uuid AS vid,
              veh.license_plate AS plate,
              sd.name AS vehStage,
              date_format(veh.entry_date, '%Y-%m-%d %H:%i:%s')  AS entryDate,
              date_format(vds.last_commit_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
              model.veh_model_name AS modelName,
              model.model_notice_id AS modelNoticeId,
              area.name AS areaName,
              area.id AS areaId,
              vds.vid AS vdsVid
        FROM
              veh_dayreport_summary vds
        LEFT JOIN sys_vehicle veh ON vds.vid = veh.uuid
        LEFT JOIN sys_veh_model model ON veh.veh_model_id = model.id
        LEFT JOIN sys_area area ON veh.sys_division_id = area.id
        LEFT JOIN sys_dict sd ON veh.registerstatus=sd.val AND sd.type='500'
        <include refid="Common.userVehiclePermission"/>
            <choose>
                <when test="searchType == 'dayCount'">
                    AND date_format(vds.report_date, '%Y-%m-%d') = #{reportDate}
                    AND date_format(veh.entry_date, '%Y-%m-%d') &lt;= date_format(vds.report_date, '%Y-%m-%d')
                </when>
                <when test="searchType == 'newVehCount'">
                    AND date_format(vds.report_date, '%Y-%m-%d') = #{reportDate} AND vds.append = '1'
                </when>
            </choose   >
            AND veh.id IS NOT NULL
            <if test="diaVehStage != null and diaVehStage != '-1'">
                AND veh.registerstatus=#{diaVehStage}
            </if>
            <if test="diaModelNaticeId != null">
                AND model.model_notice_id LIKE '%${diaModelNaticeId}%'
            </if>
        ORDER BY veh.license_plate
    </select>

    <!--查询_弹出框_通讯异常车辆-->
    <select id="queryVehNotOnlineCountTableForDialog" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            veh.id AS id,
            veh.vin AS vin,
            veh.uuid AS vid,
            veh.license_plate AS plate,
            sd.name AS vehStage,
            date_format(veh.entry_date, '%Y-%m-%d %H:%i:%s')  AS entryDate,
            date_format(vds.last_commit_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
            model.veh_model_name AS modelName,
            model.model_notice_id AS modelNoticeId,
            area.name AS areaName,
            area.id AS areaId,
            vds.vid AS vdsVid
        FROM
            veh_dayreport_summary vds
        LEFT JOIN sys_vehicle veh ON vds.vid=veh.uuid
        LEFT JOIN sys_veh_model model ON veh.veh_model_id = model.id
        LEFT JOIN sys_area area ON veh.sys_division_id = area.id
        LEFT JOIN sys_dict sd ON veh.registerstatus=sd.val AND sd.type='500'
        <include refid="Common.userVehiclePermission"/>
            AND date_format(vds.report_date, '%Y-%m-%d') = #{reportDate}
            AND vds.last_commit_time &lt; CONCAT(date_format(vds.report_date, '%Y-%m-%d'), ' 00:00:00')
            AND veh.id IS NOT NULL
            <if test="diaVehStage != null and diaVehStage != '-1'">
                AND veh.registerstatus=#{diaVehStage}
            </if>
            <if test="diaModelNaticeId != null">
                AND model.model_notice_id LIKE '%${diaModelNaticeId}%'
            </if>
        ORDER BY veh.license_plate
    </select>

    <!--查询_弹出框_当天活跃车辆总数-->
    <select id="queryVehDayActiveCountTableForDialog" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            veh.id AS id,
            veh.vin AS vin,
            veh.uuid AS vid,
            veh.license_plate AS plate,
            sd.name AS vehStage,
            date_format(veh.entry_date, '%Y-%m-%d %H:%i:%s')  AS entryDate,
            date_format(vds.last_commit_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
            model.veh_model_name AS modelName,
            model.model_notice_id AS modelNoticeId,
            area.name AS areaName,
            area.id AS areaId,
            vds.vid AS vdsVid
        FROM
            veh_dayreport_summary vds
        LEFT JOIN veh_dayreport_expansion vde ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(vde.report_date, '%Y-%m-%d') AND vds.vid=vde.vid)
        LEFT JOIN sys_vehicle veh ON vde.vin = veh.vin
        LEFT JOIN sys_veh_model model ON veh.veh_model_id = model.id
        LEFT JOIN sys_area area ON veh.sys_division_id = area.id
        LEFT JOIN sys_dict sd ON veh.registerstatus=sd.val AND sd.type='500'
        <include refid="Common.userVehiclePermission"/>
            AND date_format(vds.report_date, '%Y-%m-%d') = #{reportDate}
            AND vde.daily_active_total_time &gt; 0
            AND veh.id IS NOT NULL
            <if test="diaVehStage != null and diaVehStage != '-1'">
                AND veh.registerstatus=#{diaVehStage}
            </if>
            <if test="diaModelNaticeId != null">
                AND model.model_notice_id LIKE '%${diaModelNaticeId}%'
            </if>
        ORDER BY veh.license_plate
    </select>

    <!--查询_弹出框_里程异常车辆总数-->
    <select id="queryVehAbnormalVehCountTableForDialog" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            veh.id AS id,
            veh.vin AS vin,
            veh.uuid AS vid,
            veh.license_plate AS plate,
            sd.name AS vehStage,
            date_format(veh.entry_date, '%Y-%m-%d %H:%i:%s')  AS entryDate,
            date_format(vds.last_commit_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
            model.veh_model_name AS modelName,
            model.model_notice_id AS modelNoticeId,
            area.name AS areaName,
            area.id AS areaId,
            vds.vid AS vdsVid
        FROM
            veh_dayreport_summary vds
        LEFT JOIN veh_dayreport_expansion vde ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(vde.report_date, '%Y-%m-%d') AND vds.vid=vde.vid)
        LEFT JOIN sys_vehicle veh ON vde.vin = veh.vin
        LEFT JOIN sys_veh_model model ON veh.veh_model_id = model.id
        LEFT JOIN sys_area area ON veh.sys_division_id = area.id
        LEFT JOIN sys_dict sd ON (veh.registerstatus=sd.val AND sd.type='500')
        LEFT JOIN (SELECT ds.report_date,ds.vid,ds.abnormal_num FROM veh_dayreport_abnormal_situation ds WHERE ds.type='2') vdas
            ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(vdas.report_date, '%Y-%m-%d') AND vds.vid = vdas.vid)
        LEFT JOIN veh_dayreport_mileage_check vdmc ON (date_format(vds.report_date, '%Y-%m-%d') = date_format(vdmc.report_date, '%Y-%m-%d') AND vds.vid = vdmc.vid)
        <include refid="Common.userVehiclePermission"/>
            AND date_format(vds.report_date, '%Y-%m-%d') = #{reportDate}
            AND (vdas.abnormal_num/vdmc.check_data_total_num) &gt; 0.05
            AND veh.id IS NOT NULL
            <if test="diaVehStage != null and diaVehStage != '-1'">
                AND veh.registerstatus=#{diaVehStage}
            </if>
            <if test="diaModelNaticeId != null">
                AND model.model_notice_id LIKE '%${diaModelNaticeId}%'
            </if>
        ORDER BY veh.license_plate
    </select>

    <!--查询_弹出框_充电车辆总数-->
    <select id="queryVehElectricityVehCountTableForDialog" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            veh.id AS id,
            veh.vin AS vin,
            veh.uuid AS vid,
            veh.license_plate AS plate,
            sd.name AS vehStage,
            date_format(veh.entry_date, '%Y-%m-%d %H:%i:%s')  AS entryDate,
            date_format(veh.update_time, '%Y-%m-%d %H:%i:%s') AS updateTime,
            model.veh_model_name AS modelName,
            model.model_notice_id AS modelNoticeId,
            area.name AS areaName,
            area.id AS areaId,
            vds.vid AS vdsVid
        FROM
            veh_dayreport_chargestate vdc
        LEFT JOIN sys_vehicle veh ON vdc.vid = veh.uuid
        LEFT JOIN sys_veh_model model ON veh.veh_model_id = model.id
        LEFT JOIN sys_area area ON veh.sys_division_id = area.id
        LEFT JOIN sys_dict sd ON veh.registerstatus=sd.val AND sd.type='500'
        <include refid="Common.userVehiclePermission"/>
            AND date_format(vdc.report_time, '%Y-%m-%d') = #{reportDate}
            AND vdc.charge_time_sum &gt; 0
            AND veh.id IS NOT NULL
            <if test="diaVehStage != null and diaVehStage != '-1'">
                AND veh.registerstatus=#{diaVehStage}
            </if>
            <if test="diaModelNaticeId != null">
                AND model.model_notice_id LIKE '%${diaModelNaticeId}%'
            </if>
        ORDER BY veh.license_plate
    </select>

</mapper>
