<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.report.mapper.FormulaMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.report.domain.Formula" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    sf.id  ,sf.f_name ,sf.p_id ,sf.f_time ,sf.f_people
    </sql>
    <sql id="moreColumns">
    sf.id  ,sf.f_name ,sf.p_id ,sf.f_time ,sf.f_people
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.report.domain.Formula"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_formula sf
        <where>
            sf.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_formula (id,f_name,p_id,f_time,f_people)
        values
        (#{id},#{fName},#{pId},#{fTime},#{fPeople})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_formula set
        id=id,f_name=#{fName},p_id=#{pId},f_time=#{fTime},f_people=#{fPeople}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_formula
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sys_formula sf
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>

    </select>
</mapper>
