<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.report.mapper.IndexMapper">


    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        d.*
    </sql>
    <sql id="moreColumns">
        d.*
    </sql>

   <select id="findSysMoudle" resultType="com.bitnei.cloud.report.domain.SysModule">
       SELECT  * from sys_module
   </select>
</mapper>
