<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitnei.cloud.report.mapper.SysAuthCompanyTempMapper" >
  <resultMap id="BaseResultMap" type="com.bitnei.cloud.report.domain.SysAuthenticationCompanyTempEntity" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CUS_REPLACE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT_INFO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREDIT_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COM_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="INDUSTRY_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SEX" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="OWNER_CERT_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OWNER_CERT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OWNER_CERT_ADDR" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OWNER_ADDRESS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIN" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SERIAL_NUMBER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IMEI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SIM_CART_NUMBER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ICCID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IMSI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.bitnei.cloud.report.domain.SysAuthenticationCompanyTempEntity" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CUS_REPLACE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT_INFO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREDIT_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COM_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="INDUSTRY_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SEX" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="OWNER_CERT_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OWNER_CERT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OWNER_CERT_ADDR" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OWNER_ADDRESS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIN" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SERIAL_NUMBER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IMEI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SIM_CART_NUMBER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ICCID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IMSI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ENTER_PIC" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="AUTH_PIC" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="PIC1" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="PIC2" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="FACT_PIC" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="AUTHENTICATION_RESULT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REMARKS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="line_name_en" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="channel_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, CUS_REPLACE, CONTACT, CONTACT_INFO, CREDIT_CODE, CREATE_TIME, UPDATE_TIME,
    COM_TYPE, INDUSTRY_TYPE, SEX, OWNER_CERT_TYPE, OWNER_CERT_ID, OWNER_CERT_ADDR, OWNER_ADDRESS,
    EMAIL, VIN, SERIAL_NUMBER, IMEI, SIM_CART_NUMBER, ICCID, IMSI, CREATE_USER_ID, UPDATE_USER_ID,line_name_en,channel_id
  </sql>
  <sql id="Blob_Column_List" >
    ENTER_PIC, AUTH_PIC, PIC1, PIC2, FACT_PIC
  </sql>

  <!-- PrimaryKey -->
  <select id="findPrimaryKey" resultType="com.bitnei.cloud.report.domain.SysAuthenticationCompanyTempEntity" parameterType="java.lang.String" >
    SELECT
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM sys_authentication_company_temp
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findById" resultMap="ResultMap" parameterType="java.lang.String" >
   SELECT
	*
FROM
	(
		SELECT
			sys_real_name_authentication.id,
			sys_customer_unit. NAME,
			sys_customer_unit.CUS_REPLACE,
			sys_customer_unit.CONTACT,
			sys_customer_unit.CONTACT_INFO,
			sys_customer_unit.CREDIT_CODE,
			sys_real_name_authentication.CREATE_TIME,
			sys_real_name_authentication.UPDATE_TIME,
			sys_customer_unit.COM_TYPE,
			sys_customer_unit.INDUSTRY_TYPE,
			sys_customer_unit.ENTER_PIC,
			sys_customer_unit.AUTH_PIC,
			sys_customer_unit.SEX,
			sys_customer_unit.OWNER_CERT_TYPE,
			sys_customer_unit.OWNER_CERT_ID,
			sys_customer_unit.OWNER_CERT_ADDR,
			sys_customer_unit.PIC1,
			sys_customer_unit.PIC2,
			sys_customer_unit.FACT_PIC,
			sys_customer_unit.OWNER_ADDRESS,
			sys_customer_unit.EMAIL,
			sys_real_name_authentication.VIN,
			sys_term_model_unit.SERIAL_NUMBER,
			sys_term_model_unit.IMEI,
			sys_sim_management.SIM_CART_NUMBER,
			sys_sim_management.ICCID,
			sys_sim_management.IMSI,
			sys_real_name_authentication.CREATE_USER_ID,
			sys_real_name_authentication.UPDATE_USER_ID,
			sys_real_name_authentication.syn_result,
			sys_real_name_authentication.AUTHENTICATION_RESULT,
			sys_real_name_authentication.REMARKS,
			sys_real_name_authentication.line_name_en,
			sys_real_name_authentication.channel_id
		FROM
			sys_real_name_authentication
		LEFT JOIN sys_customer_unit ON sys_customer_unit.id = sys_real_name_authentication.AUTHENTICATION_ID
		LEFT JOIN sys_vehicle ON sys_real_name_authentication.vin = sys_vehicle.vin
		LEFT JOIN sys_term_model_unit ON sys_term_model_unit.id = sys_vehicle.term_id
		AND sys_term_model_unit.delete_flag = 1
		LEFT JOIN sys_sim_management ON sys_sim_management.iccid = sys_term_model_unit.iccid
		AND sys_sim_management.delete_type=1
		WHERE
			sys_real_name_authentication.STATE = 1
		AND AUTHENTICATION_TYPE = 2
		UNION
			SELECT
				ID,
				NAME,
				CUS_REPLACE,
				CONTACT,
				CONTACT_INFO,
				CREDIT_CODE,
				CREATE_TIME,
				UPDATE_TIME,
				COM_TYPE,
				INDUSTRY_TYPE,
				ENTER_PIC,
				AUTH_PIC,
				SEX,
				OWNER_CERT_TYPE,
				OWNER_CERT_ID,
				OWNER_CERT_ADDR,
				PIC1,
				PIC2,
				FACT_PIC,
				OWNER_ADDRESS,
				EMAIL,
				VIN,
				SERIAL_NUMBER,
				IMEI,
				SIM_CART_NUMBER,
				ICCID,
				IMSI,
				CREATE_USER_ID,
				UPDATE_USER_ID,
				"0" AS syn_result,
				"0" AS AUTHENTICATION_RESULT,
				"未申请" AS REMARKS,
				line_name_en,
				channel_id
			FROM
				sys_authentication_company_temp
	) temp
where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_authentication_company_temp
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bitnei.cloud.report.domain.SysAuthenticationCompanyTempEntity" >
    insert into sys_authentication_company_temp (ID, NAME, CUS_REPLACE,
      CONTACT, CONTACT_INFO, CREDIT_CODE,
      CREATE_TIME, UPDATE_TIME, COM_TYPE,
      INDUSTRY_TYPE, SEX, OWNER_CERT_TYPE,
      OWNER_CERT_ID, OWNER_CERT_ADDR, OWNER_ADDRESS,
      EMAIL, VIN, SERIAL_NUMBER,
      IMEI, SIM_CART_NUMBER, ICCID,
      IMSI, CREATE_USER_ID, UPDATE_USER_ID,
      ENTER_PIC, AUTH_PIC, PIC1,
      PIC2, FACT_PIC,line_name_en,channel_id)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{cusReplace,jdbcType=VARCHAR},
      #{contact,jdbcType=VARCHAR}, #{contactInfo,jdbcType=VARCHAR}, #{creditCode,jdbcType=VARCHAR},
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{comType,jdbcType=VARCHAR},
      #{industryType,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{ownerCertType,jdbcType=VARCHAR},
      #{ownerCertId,jdbcType=VARCHAR}, #{ownerCertAddr,jdbcType=VARCHAR}, #{ownerAddress,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR},
      #{imei,jdbcType=VARCHAR}, #{simCartNumber,jdbcType=VARCHAR}, #{iccid,jdbcType=VARCHAR},
      #{imsi,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR},
      #{enterPic,jdbcType=LONGVARCHAR}, #{authPic,jdbcType=LONGVARCHAR}, #{pic1,jdbcType=LONGVARCHAR},
      #{pic2,jdbcType=LONGVARCHAR}, #{factPic,jdbcType=LONGVARCHAR},#{lineNameEn,jdbcType=VARCHAR}, #{channelId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bitnei.cloud.report.domain.SysAuthenticationCompanyTempEntity" >
    insert into sys_authentication_company_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="cusReplace != null" >
        CUS_REPLACE,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="contactInfo != null" >
        CONTACT_INFO,
      </if>
      <if test="creditCode != null" >
        CREDIT_CODE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="comType != null" >
        COM_TYPE,
      </if>
      <if test="industryType != null" >
        INDUSTRY_TYPE,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="ownerCertType != null" >
        OWNER_CERT_TYPE,
      </if>
      <if test="ownerCertId != null" >
        OWNER_CERT_ID,
      </if>
      <if test="ownerCertAddr != null" >
        OWNER_CERT_ADDR,
      </if>
      <if test="ownerAddress != null" >
        OWNER_ADDRESS,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="vin != null" >
        VIN,
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER,
      </if>
      <if test="imei != null" >
        IMEI,
      </if>
      <if test="simCartNumber != null" >
        SIM_CART_NUMBER,
      </if>
      <if test="iccid != null" >
        ICCID,
      </if>
      <if test="imsi != null" >
        IMSI,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="enterPic != null" >
        ENTER_PIC,
      </if>
      <if test="authPic != null" >
        AUTH_PIC,
      </if>
      <if test="pic1 != null" >
        PIC1,
      </if>
      <if test="pic2 != null" >
        PIC2,
      </if>
      <if test="factPic != null" >
        FACT_PIC,
      </if>
      <if test="lineNameEn != null" >
        line_name_en,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cusReplace != null" >
        #{cusReplace,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="comType != null" >
        #{comType,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null" >
        #{industryType,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="ownerCertType != null" >
        #{ownerCertType,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertId != null" >
        #{ownerCertId,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertAddr != null" >
        #{ownerCertAddr,jdbcType=VARCHAR},
      </if>
      <if test="ownerAddress != null" >
        #{ownerAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="vin != null" >
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="simCartNumber != null" >
        #{simCartNumber,jdbcType=VARCHAR},
      </if>
      <if test="iccid != null" >
        #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="imsi != null" >
        #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="enterPic != null" >
        #{enterPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="authPic != null" >
        #{authPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic1 != null" >
        #{pic1,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic2 != null" >
        #{pic2,jdbcType=LONGVARCHAR},
      </if>
      <if test="factPic != null" >
        #{factPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="lineNameEn != null" >
        #{lineNameEn,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.bitnei.cloud.report.domain.SysAuthenticationCompanyTempEntity" >
    update sys_authentication_company_temp
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cusReplace != null" >
        CUS_REPLACE = #{cusReplace,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        CONTACT_INFO = #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        CREDIT_CODE = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="comType != null" >
        COM_TYPE = #{comType,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null" >
        INDUSTRY_TYPE = #{industryType,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="ownerCertType != null" >
        OWNER_CERT_TYPE = #{ownerCertType,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertId != null" >
        OWNER_CERT_ID = #{ownerCertId,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertAddr != null" >
        OWNER_CERT_ADDR = #{ownerCertAddr,jdbcType=VARCHAR},
      </if>
      <if test="ownerAddress != null" >
        OWNER_ADDRESS = #{ownerAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="vin != null" >
        VIN = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        IMEI = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="simCartNumber != null" >
        SIM_CART_NUMBER = #{simCartNumber,jdbcType=VARCHAR},
      </if>
      <if test="iccid != null" >
        ICCID = #{iccid,jdbcType=VARCHAR},
      </if>
      <if test="imsi != null" >
        IMSI = #{imsi,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="enterPic != null" >
        ENTER_PIC = #{enterPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="authPic != null" >
        AUTH_PIC = #{authPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic1 != null" >
        PIC1 = #{pic1,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic2 != null" >
        PIC2 = #{pic2,jdbcType=LONGVARCHAR},
      </if>
      <if test="factPic != null" >
        FACT_PIC = #{factPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="lineNameEn != null" >
        lineNameEn = #{lineNameEn,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        channelId = #{factPic,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bitnei.cloud.report.domain.SysAuthenticationCompanyTempEntity" >
    update sys_authentication_company_temp
    set NAME = #{name,jdbcType=VARCHAR},
      CUS_REPLACE = #{cusReplace,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      CONTACT_INFO = #{contactInfo,jdbcType=VARCHAR},
      CREDIT_CODE = #{creditCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      COM_TYPE = #{comType,jdbcType=VARCHAR},
      INDUSTRY_TYPE = #{industryType,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=CHAR},
      OWNER_CERT_TYPE = #{ownerCertType,jdbcType=VARCHAR},
      OWNER_CERT_ID = #{ownerCertId,jdbcType=VARCHAR},
      OWNER_CERT_ADDR = #{ownerCertAddr,jdbcType=VARCHAR},
      OWNER_ADDRESS = #{ownerAddress,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      VIN = #{vin,jdbcType=VARCHAR},
      SERIAL_NUMBER = #{serialNumber,jdbcType=VARCHAR},
      IMEI = #{imei,jdbcType=VARCHAR},
      SIM_CART_NUMBER = #{simCartNumber,jdbcType=VARCHAR},
      ICCID = #{iccid,jdbcType=VARCHAR},
      IMSI = #{imsi,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      ENTER_PIC = #{enterPic,jdbcType=LONGVARCHAR},
      AUTH_PIC = #{authPic,jdbcType=LONGVARCHAR},
      PIC1 = #{pic1,jdbcType=LONGVARCHAR},
      PIC2 = #{pic2,jdbcType=LONGVARCHAR},
      FACT_PIC = #{factPic,jdbcType=LONGVARCHAR},
      line_name_en = #{lineNameEn,jdbcType=VARCHAR},
      channel_id = #{factPic,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="pagerModel" parameterType="java.util.HashMap" resultType="java.util.HashMap">
   SELECT
	*
FROM
	(
		SELECT
			sys_real_name_authentication.id,
			sys_customer_unit. NAME,
			sys_customer_unit.CUS_REPLACE,
			sys_customer_unit.CONTACT,
			sys_customer_unit.CONTACT_INFO,
			sys_customer_unit.CREDIT_CODE,
			sys_real_name_authentication.CREATE_TIME,
			sys_real_name_authentication.UPDATE_TIME,
			sys_customer_unit.COM_TYPE,
			sys_customer_unit.INDUSTRY_TYPE,
			sys_customer_unit.ENTER_PIC,
			sys_customer_unit.AUTH_PIC,
			sys_customer_unit.SEX,
			sys_customer_unit.OWNER_CERT_TYPE,
			sys_customer_unit.OWNER_CERT_ID,
			sys_customer_unit.OWNER_CERT_ADDR,
			sys_customer_unit.PIC1,
			sys_customer_unit.PIC2,
			sys_customer_unit.FACT_PIC,
			sys_customer_unit.OWNER_ADDRESS,
			sys_customer_unit.EMAIL,
			sys_real_name_authentication.VIN,
			sys_term_model_unit.SERIAL_NUMBER,
			sys_term_model_unit.IMEI,
			sys_sim_management.SIM_CART_NUMBER,
			sys_sim_management.ICCID,
			sys_sim_management.IMSI,
			sys_real_name_authentication.CREATE_USER_ID,
			sys_real_name_authentication.UPDATE_USER_ID,
			sys_real_name_authentication.syn_result,
			sys_real_name_authentication.AUTHENTICATION_RESULT,
            sys_real_name_authentication.AUTHENTICATION_ID,
            sys_real_name_authentication.REMARKS,
            sys_real_name_authentication.line_name_en,
            sys_real_name_authentication.channel_id,
            case sys_real_name_authentication.AUTHENTICATION_RESULT when '0' then '未申请' when '1' then '认证中' when '2' then '已通过' else '未通过' end  RESULT_MESSAGE
		FROM
			sys_real_name_authentication
		LEFT JOIN sys_customer_unit ON sys_customer_unit.id = sys_real_name_authentication.AUTHENTICATION_ID
		LEFT JOIN sys_vehicle ON sys_real_name_authentication.vin = sys_vehicle.vin
		LEFT JOIN sys_term_model_unit ON sys_term_model_unit.id = sys_vehicle.term_id
        AND sys_term_model_unit.delete_flag = 1
		LEFT JOIN sys_sim_management ON sys_sim_management.iccid = sys_term_model_unit.iccid
        AND sys_sim_management.delete_type = 1
		WHERE
			sys_real_name_authentication.STATE = 1 <!-- 状态 -->
		    AND AUTHENTICATION_TYPE = 2 <!-- 企业认证 -->
		UNION
			SELECT
				ID,
				NAME,
				CUS_REPLACE,
				CONTACT,
				CONTACT_INFO,
				CREDIT_CODE,
				CREATE_TIME,
				UPDATE_TIME,
				COM_TYPE,
				INDUSTRY_TYPE,
				ENTER_PIC,
				AUTH_PIC,
				SEX,
				OWNER_CERT_TYPE,
				OWNER_CERT_ID,
				OWNER_CERT_ADDR,
				PIC1,
				PIC2,
				FACT_PIC,
				OWNER_ADDRESS,
				EMAIL,
				VIN,
				SERIAL_NUMBER,
				IMEI,
				SIM_CART_NUMBER,
				ICCID,
				IMSI,
				CREATE_USER_ID,
				UPDATE_USER_ID,
				"0" AS syn_result,
				"0" AS AUTHENTICATION_RESULT,
                "0" AS AUTHENTICATION_ID, <!-- 认证人ID 在数据临时表中无意义 勿使用此字段 -->
                "未申请" REMARKS,
                line_name_en,
                channel_id,
                "未申请" RESULT_MESSAGE
			FROM
				sys_authentication_company_temp
	) temp
WHERE
	1 = 1
    <if test='SIM_CART_NUMBER != null and SIM_CART_NUMBER != ""'>
      AND SIM_CART_NUMBER LIKE concat('%',#{SIM_CART_NUMBER,jdbcType=VARCHAR},'%')
    </if>
    <if test='ICCID != null and ICCID != ""'>
      AND ICCID LIKE concat('%',#{ICCID,jdbcType=VARCHAR},'%')
    </if>
    <if test='AUTHENTICATION_RESULT != null and AUTHENTICATION_RESULT != "" and AUTHENTICATION_RESULT != "-1"' >
      AND AUTHENTICATION_RESULT = #{AUTHENTICATION_RESULT,jdbcType=VARCHAR}
    </if>
    <if test='VIN != null and VIN != ""'>
      AND VIN LIKE concat('%',#{VIN,jdbcType=VARCHAR},'%')
    </if>
    <if test='SERIAL_NUMBER != null and SERIAL_NUMBER != ""'>
      AND SERIAL_NUMBER LIKE concat('%',#{SERIAL_NUMBER,jdbcType=VARCHAR},'%')
    </if>
    <if test='CONTACT != null and CONTACT != ""'>
      AND CONTACT LIKE concat('%',#{CONTACT,jdbcType=VARCHAR},'%')
    </if>
    <if test='OWNER_CERT_ID != null and OWNER_CERT_ID != ""'>
      AND OWNER_CERT_ID LIKE concat('%',#{OWNER_CERT_ID,jdbcType=VARCHAR},'%')
    </if>
    <if test='CONTACT_INFO != null and CONTACT_INFO != ""'>
      AND CONTACT_INFO LIKE concat('%',#{CONTACT_INFO,jdbcType=VARCHAR},'%')
    </if>
    <if test='NAME != null and NAME != ""'>
      AND NAME LIKE concat('%',#{NAME,jdbcType=VARCHAR},'%')
    </if>
    ORDER by UPDATE_TIME desc
  </select>
</mapper>