<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitnei.cloud.report.mapper.SysCustomerUnitMapper" >
  <resultMap id="BaseResultMap" type="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SUPERIOR_UNIT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CUS_REPLACE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT_INFO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREDIT_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UNIT_TYPE_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRODUCT_BRAND" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="com_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="industry_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="owner_cert_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="owner_cert_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="owner_cert_addr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="owner_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMap" type="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SUPERIOR_UNIT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CUS_REPLACE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CONTACT_INFO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREDIT_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UNIT_TYPE_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PRODUCT_BRAND" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="com_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="industry_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="owner_cert_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="owner_cert_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="owner_cert_addr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="owner_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="enter_pic" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="auth_pic" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="pic1" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="pic2" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="fact_pic" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, SUPERIOR_UNIT_ID, CUS_REPLACE, CONTACT, CONTACT_INFO, CREDIT_CODE, UNIT_TYPE_ID, 
    STATE, CREATE_TIME, UPDATE_TIME, PRODUCT_BRAND, com_type, industry_type, sex, owner_cert_type, 
    owner_cert_id, owner_cert_addr, owner_address, email
  </sql>
  <sql id="Blob_Column_List" >
    enter_pic, auth_pic, pic1, pic2, fact_pic
  </sql>
  <select id="findById" resultMap="ResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_customer_unit
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findByPrimaryKey" resultType="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_customer_unit
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectCustomerByCode" parameterType="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" resultType="com.bitnei.cloud.report.domain.SysCustomerUnitEntity">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_customer_unit
    WHERE
    STATE = 1
    <if test="creditCode != null">
      and credit_code = #{creditCode}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_customer_unit
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" >
    insert into sys_customer_unit (ID, NAME, SUPERIOR_UNIT_ID, 
      CUS_REPLACE, CONTACT, CONTACT_INFO, 
      CREDIT_CODE, UNIT_TYPE_ID, STATE, 
      CREATE_TIME, UPDATE_TIME, PRODUCT_BRAND, 
      com_type, industry_type, sex, 
      owner_cert_type, owner_cert_id, owner_cert_addr, 
      owner_address, email, enter_pic, 
      auth_pic, pic1, pic2, 
      fact_pic)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{superiorUnitId,jdbcType=VARCHAR}, 
      #{cusReplace,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{contactInfo,jdbcType=VARCHAR}, 
      #{creditCode,jdbcType=VARCHAR}, #{unitTypeId,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{productBrand,jdbcType=VARCHAR}, 
      #{comType,jdbcType=VARCHAR}, #{industryType,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{ownerCertType,jdbcType=VARCHAR}, #{ownerCertId,jdbcType=VARCHAR}, #{ownerCertAddr,jdbcType=VARCHAR}, 
      #{ownerAddress,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{enterPic,jdbcType=LONGVARCHAR}, 
      #{authPic,jdbcType=LONGVARCHAR}, #{pic1,jdbcType=LONGVARCHAR}, #{pic2,jdbcType=LONGVARCHAR}, 
      #{factPic,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" >
    insert into sys_customer_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="superiorUnitId != null" >
        SUPERIOR_UNIT_ID,
      </if>
      <if test="cusReplace != null" >
        CUS_REPLACE,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="contactInfo != null" >
        CONTACT_INFO,
      </if>
      <if test="creditCode != null" >
        CREDIT_CODE,
      </if>
      <if test="unitTypeId != null" >
        UNIT_TYPE_ID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="productBrand != null" >
        PRODUCT_BRAND,
      </if>
      <if test="comType != null" >
        com_type,
      </if>
      <if test="industryType != null" >
        industry_type,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="ownerCertType != null" >
        owner_cert_type,
      </if>
      <if test="ownerCertId != null" >
        owner_cert_id,
      </if>
      <if test="ownerCertAddr != null" >
        owner_cert_addr,
      </if>
      <if test="ownerAddress != null" >
        owner_address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="enterPic != null" >
        enter_pic,
      </if>
      <if test="authPic != null" >
        auth_pic,
      </if>
      <if test="pic1 != null" >
        pic1,
      </if>
      <if test="pic2 != null" >
        pic2,
      </if>
      <if test="factPic != null" >
        fact_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="superiorUnitId != null" >
        #{superiorUnitId,jdbcType=VARCHAR},
      </if>
      <if test="cusReplace != null" >
        #{cusReplace,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="unitTypeId != null" >
        #{unitTypeId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="productBrand != null" >
        #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="comType != null" >
        #{comType,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null" >
        #{industryType,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=CHAR},
      </if>
      <if test="ownerCertType != null" >
        #{ownerCertType,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertId != null" >
        #{ownerCertId,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertAddr != null" >
        #{ownerCertAddr,jdbcType=VARCHAR},
      </if>
      <if test="ownerAddress != null" >
        #{ownerAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="enterPic != null" >
        #{enterPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="authPic != null" >
        #{authPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic1 != null" >
        #{pic1,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic2 != null" >
        #{pic2,jdbcType=LONGVARCHAR},
      </if>
      <if test="factPic != null" >
        #{factPic,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" >
    update sys_customer_unit
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="superiorUnitId != null" >
        SUPERIOR_UNIT_ID = #{superiorUnitId,jdbcType=VARCHAR},
      </if>
      <if test="cusReplace != null" >
        CUS_REPLACE = #{cusReplace,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        CONTACT_INFO = #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        CREDIT_CODE = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="unitTypeId != null" >
        UNIT_TYPE_ID = #{unitTypeId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="productBrand != null" >
        PRODUCT_BRAND = #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="comType != null" >
        com_type = #{comType,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null" >
        industry_type = #{industryType,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="ownerCertType != null" >
        owner_cert_type = #{ownerCertType,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertId != null" >
        owner_cert_id = #{ownerCertId,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertAddr != null" >
        owner_cert_addr = #{ownerCertAddr,jdbcType=VARCHAR},
      </if>
      <if test="ownerAddress != null" >
        owner_address = #{ownerAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="enterPic != null" >
        enter_pic = #{enterPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="authPic != null" >
        auth_pic = #{authPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic1 != null" >
        pic1 = #{pic1,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic2 != null" >
        pic2 = #{pic2,jdbcType=LONGVARCHAR},
      </if>
      <if test="factPic != null" >
        fact_pic = #{factPic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" >
    update sys_customer_unit
    set NAME = #{name,jdbcType=VARCHAR},
      SUPERIOR_UNIT_ID = #{superiorUnitId,jdbcType=VARCHAR},
      CUS_REPLACE = #{cusReplace,jdbcType=VARCHAR},
      CONTACT = #{contact,jdbcType=VARCHAR},
      CONTACT_INFO = #{contactInfo,jdbcType=VARCHAR},
      CREDIT_CODE = #{creditCode,jdbcType=VARCHAR},
      UNIT_TYPE_ID = #{unitTypeId,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      PRODUCT_BRAND = #{productBrand,jdbcType=VARCHAR},
      com_type = #{comType,jdbcType=VARCHAR},
      industry_type = #{industryType,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      owner_cert_type = #{ownerCertType,jdbcType=VARCHAR},
      owner_cert_id = #{ownerCertId,jdbcType=VARCHAR},
      owner_cert_addr = #{ownerCertAddr,jdbcType=VARCHAR},
      owner_address = #{ownerAddress,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      enter_pic = #{enterPic,jdbcType=LONGVARCHAR},
      auth_pic = #{authPic,jdbcType=LONGVARCHAR},
      pic1 = #{pic1,jdbcType=LONGVARCHAR},
      pic2 = #{pic2,jdbcType=LONGVARCHAR},
      fact_pic = #{factPic,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByCreditCode" parameterType="com.bitnei.cloud.report.domain.SysCustomerUnitEntity" >
    update sys_customer_unit
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="superiorUnitId != null" >
        SUPERIOR_UNIT_ID = #{superiorUnitId,jdbcType=VARCHAR},
      </if>
      <if test="cusReplace != null" >
        CUS_REPLACE = #{cusReplace,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        CONTACT_INFO = #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        CREDIT_CODE = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="unitTypeId != null" >
        UNIT_TYPE_ID = #{unitTypeId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="productBrand != null" >
        PRODUCT_BRAND = #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="comType != null" >
        com_type = #{comType,jdbcType=VARCHAR},
      </if>
      <if test="industryType != null" >
        industry_type = #{industryType,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="ownerCertType != null" >
        owner_cert_type = #{ownerCertType,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertId != null" >
        owner_cert_id = #{ownerCertId,jdbcType=VARCHAR},
      </if>
      <if test="ownerCertAddr != null" >
        owner_cert_addr = #{ownerCertAddr,jdbcType=VARCHAR},
      </if>
      <if test="ownerAddress != null" >
        owner_address = #{ownerAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="enterPic != null" >
        enter_pic = #{enterPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="authPic != null" >
        auth_pic = #{authPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic1 != null" >
        pic1 = #{pic1,jdbcType=LONGVARCHAR},
      </if>
      <if test="pic2 != null" >
        pic2 = #{pic2,jdbcType=LONGVARCHAR},
      </if>
      <if test="factPic != null" >
        fact_pic = #{factPic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where CREDIT_CODE = #{creditCode,jdbcType=VARCHAR}
  </update>

  <!-- 分页查询 -->
  <select id="pagerModel" parameterType="java.util.HashMap" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from
    sys_customer_unit
    WHERE
    STATE = 1
    <if test="name != null">
      and NAME like concat('%',#{name},'%')
    </if>
    <if test="creditCode != null">
      and CREDIT_CODE LIKE concat('%',#{creditCode},'%')
    </if>
    <if test="cusReplace != null">
      and cus_replace LIKE  concat('%',#{cusReplace},'%')
    </if>
    ORDER BY CREATE_TIME desc
  </select>
</mapper>