<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitnei.cloud.report.mapper.SysRealNameAuthMapper" >
    <resultMap id="tailResults" type="com.bitnei.cloud.report.domain.SysOwnerPeopleEntity" autoMapping="true">

    </resultMap>
  <resultMap id="BaseResultMap" type="com.bitnei.cloud.report.domain.SysRealNameAuthenticationEntity" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIN" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AUTHENTICATION_RESULT" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="AUTHENTICATION_TYPE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="REMARKS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AUTHENTICATION_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_TIME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="authentication_time" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="syn_result" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="sys_time" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="line_name_en" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="channel_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    ID, VIN, AUTHENTICATION_RESULT, AUTHENTICATION_TYPE, REMARKS, AUTHENTICATION_ID, 
    CREATE_USER_ID, CREATE_TIME, UPDATE_USER_ID, UPDATE_TIME, STATE, authentication_time, syn_result, sys_time,line_name_en,channel_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_real_name_authentication
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_real_name_authentication
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bitnei.cloud.report.domain.SysRealNameAuthenticationEntity" >
    insert into sys_real_name_authentication (ID, VIN, AUTHENTICATION_RESULT, 
      AUTHENTICATION_TYPE, REMARKS, AUTHENTICATION_ID, 
      CREATE_USER_ID, CREATE_TIME, UPDATE_USER_ID, 
      UPDATE_TIME, STATE, authentication_time, syn_result, sys_time,line_name_en,channel_id)
    values (#{id,jdbcType=VARCHAR}, #{vin,jdbcType=VARCHAR}, #{authenticationResult,jdbcType=CHAR}, 
      #{authenticationType,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, #{authenticationId,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{state,jdbcType=CHAR}, #{authenticationTime,jdbcType=CHAR}, #{synResult,jdbcType=CHAR}, #{sysTime,jdbcType=CHAR},#{lineNameEn,jdbcType=VARCHAR}, #{channelId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bitnei.cloud.report.domain.SysRealNameAuthenticationEntity" >
    insert into sys_real_name_authentication
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="vin != null" >
        VIN,
      </if>
      <if test="authenticationResult != null" >
        AUTHENTICATION_RESULT,
      </if>
      <if test="authenticationType != null" >
        AUTHENTICATION_TYPE,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="authenticationId != null" >
        AUTHENTICATION_ID,
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="authenticationTime != null" >
        authentication_time,
      </if>
      <if test="synResult != null" >
        syn_result,
      </if>
      <if test="sysTime != null" >
        sys_time,
      </if>
      <if test="lineNameEn != null" >
        line_name_en,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="vin != null" >
        #{vin,jdbcType=VARCHAR},
      </if>
      <if test="authenticationResult != null" >
        #{authenticationResult,jdbcType=CHAR},
      </if>
      <if test="authenticationType != null" >
        #{authenticationType,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="authenticationId != null" >
        #{authenticationId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="authenticationTime != null" >
        #{authenticationTime,jdbcType=CHAR},
      </if>
      <if test="synResult != null" >
        #{synResult,jdbcType=CHAR},
      </if>
      <if test="sysTime != null" >
        #{sysTime,jdbcType=CHAR},
      </if>
      <if test="lineNameEn != null" >
        #{lineNameEn,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bitnei.cloud.report.domain.SysRealNameAuthenticationEntity" >
    update sys_real_name_authentication
    <set >
      <if test="vin != null" >
        VIN = #{vin,jdbcType=VARCHAR},
      </if>
      <if test="authenticationResult != null" >
        AUTHENTICATION_RESULT = #{authenticationResult,jdbcType=CHAR},
      </if>
      <if test="authenticationType != null" >
        AUTHENTICATION_TYPE = #{authenticationType,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="authenticationId != null" >
        AUTHENTICATION_ID = #{authenticationId,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="authenticationTime != null" >
        authentication_time = #{authenticationTime,jdbcType=CHAR},
      </if>
      <if test="synResult != null" >
        syn_result = #{synResult,jdbcType=CHAR},
      </if>
      <if test="sysTime != null" >
        sys_time = #{sysTime,jdbcType=CHAR},
      </if>
      <if test="lineNameEn != null" >
        line_name_en = #{lineNameEn,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bitnei.cloud.report.domain.SysRealNameAuthenticationEntity" >
    update sys_real_name_authentication
    set VIN = #{vin,jdbcType=VARCHAR},
      AUTHENTICATION_RESULT = #{authenticationResult,jdbcType=CHAR},
      AUTHENTICATION_TYPE = #{authenticationType,jdbcType=CHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      AUTHENTICATION_ID = #{authenticationId,jdbcType=VARCHAR},
      CREATE_USER_ID = #{createUserId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      UPDATE_USER_ID = #{updateUserId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=CHAR},
      authentication_time = #{authenticationTime,jdbcType=VARCHAR},
      syn_result = #{synResult,jdbcType=VARCHAR},
      sys_time = #{sysTime,jdbcType=VARCHAR},
       line_name_en = #{lineNameEn,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectRealNameVin" resultType="com.bitnei.cloud.report.domain.SysRealNameAuthenticationEntity" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_real_name_authentication
    where VIN = #{vin,jdbcType=VARCHAR}
  </select>

  <select id="selectRealNameFreeVeh" resultType="com.bitnei.cloud.report.domain.SysRealNameAuthenticationEntity" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_real_name_authentication
    where VIN = #{vin,jdbcType=VARCHAR} AND AUTHENTICATION_RESULT IN ('0','1','2')
  </select>

  <select id="selectRealNameByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_real_name_authentication
    where AUTHENTICATION_RESULT = #{authenticationResult,jdbcType=VARCHAR}
  </select>

  <select id="selectRealNameComp" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_real_name_authentication
    where AUTHENTICATION_ID = #{authenticationId,jdbcType=VARCHAR} AND AUTHENTICATION_RESULT = '2'
  </select>

  <select id="selectRealName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_real_name_authentication
    where AUTHENTICATION_ID = #{authenticationId,jdbcType=VARCHAR} AND AUTHENTICATION_RESULT IN ('1','2')
  </select>

    <select id="selectListByAuthId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from sys_real_name_authentication
        where AUTHENTICATION_ID = #{authenticationId} AND AUTHENTICATION_TYPE IN ('1','2')
    </select>

  <select id="findByAuthIdAndStatus" resultType="java.lang.String" parameterType="java.lang.String">
    select AUTHENTICATION_ID
    from sys_real_name_authentication
    <where>
        AUTHENTICATION_ID IN ${authenticationId}
        AND AUTHENTICATION_TYPE IN ('1','2')
    </where>
  </select>

  <select id="selectByAuthenticationResult" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM
        sys_real_name_authentication
    WHERE
        authentication_result = #{value}
  </select>

  <select id="findAuthInfoByAuthId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_real_name_authentication
    where AUTHENTICATION_ID = #{authenticationId} AND AUTHENTICATION_TYPE in ('1','2')  and  AUTHENTICATION_RESULT = '2'
  </select>

</mapper>