<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.report.mapper.VehicleMapper">

    <select id="vehicleCount" resultType="java.lang.Integer">
        SELECT
            count(0)
        FROM
            sys_vehicle v
        LEFT JOIN sys_term_model_unit termUnit ON v.term_id = termUnit.id
        LEFT JOIN sys_sim_management sim ON sim.iccid = termUnit.iccid
        LEFT JOIN sys_real_name_authentication auth ON auth.vin = v.vin
        WHERE
            termUnit.id IS NOT NULL
        AND termUnit.delete_flag = 1
        AND sim.id IS NOT NULL
        AND sim.delete_type = 1
        AND (
            auth.syn_result IS NULL
            OR auth.syn_result = 0
        )
    </select>

    <select id="findVehicleByPage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            v.vin,
            sim.iccid AS iccid,
            sim.sim_cart_number AS msisdn,
            termUnit.imei AS imei,
            #{brand} as brand
        FROM
            sys_vehicle v
        LEFT JOIN sys_term_model_unit termUnit ON v.term_id = termUnit.id
        LEFT JOIN sys_sim_management sim ON sim.iccid = termUnit.iccid
        LEFT JOIN sys_real_name_authentication auth ON auth.vin = v.vin
        WHERE
            termUnit.id IS NOT NULL
        AND termUnit.delete_flag = 1
        AND sim.id IS NOT NULL
        AND sim.delete_type = 1
        AND (
            auth.syn_result IS NULL
            OR auth.syn_result = 0
        )
        LIMIT #{startRow},#{pageSize}
    </select>

</mapper>
