/* h_table */
.h_table {
    display: block;
    font-size: 12px;
    line-height: 32px;
    text-align: left;
    font-weight: 200;
    margin: 0 4px;
    cursor: default;
}
.h_table thead {
    line-height: 32px;
    background: #1686fb;
}
.h_table td {
    padding: 0 14px;
    font-weight: 400;
    white-space: nowrap;
}
.h_table tr {
    border-bottom: 1px solid #3ca4ff;
}
.h_close {
    color: #fff;
    font-size: 12px;
}
.h_close:hover {
    color: #2ca1f5;
}
.h_color {
    display: flex;
}
.h_color_box{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: red;
    margin-top: 8px;
    margin-right: 4px;
}
.h_link {
    color: #2ca1f5;
    cursor: pointer;
}
.h_headicon {
    color: #2ca1f5;
    margin-left: 2px;
}



/* 布局 */
.cars_body {
    display: flex;
    padding-top: 18px;
}
.cars_bodyL {
    position: fixed;
    top: 144px;
    left: 22px;
    width: 220px;
    height: 480px;
    background: rgba(0, 85, 185, 0.48);
    border: 1px solid rgba(3, 148, 224, 0.51);
    box-shadow: 0 0 16px 0 #005279;
}
.cars_bodyR {
    flex: 1;
    margin: 0 10px;
}
.cars_bodyL_tit {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-indent: 1.6em;
    background: #1686fb;
    color: #fff;
    text-align: left;
}
.cars_bodyR_header {
    display: flex;
}
.cars_bodyR_tabH {
    position: relative;
    width: 88px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-image: linear-gradient(-180deg, #3EACF6 0%, #1D74E9 100%);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);
    -webkit-border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
    border-radius:8px 8px 0 0;
    z-index: 1;
    cursor: default;
}
/*.cars_bodyR_tabH:hover {*/
    /*background-image: linear-gradient(-180deg, #006BB2 0%, #003A88 100%);*/
    /*box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);*/
/*}*/
/*.cars_bodyR_tabH01:hover {*/
    /*z-index: 3;*/
/*}*/
.cars_bodyR_tabH:last-child {
    margin-left: -8px;
}
.cars_bodyR_tabH.on {
    z-index: 2;
    background-image: linear-gradient(-180deg, #006BB2 0%, #003A88 100%);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);
    font-weight: 600;
}
.cars_bodyR_body {
    height: 600px;
    /*border: 1px solid rgba(9, 187, 255, 1);*/
    overflow-y: auto;
    background: #003A88 ;
}
.cars_bodyR_search {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 26px;
    border-bottom: 1px solid #f1f1f1;
    padding: 18px 0;
    font-size: 14px;
    line-height: 28px;
}

.cars_bodyR_select {
    height: 24px;
    background: #f4f4f4;
    line-height: 24px;
    color: #8f8f8f;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    margin-right: 6px;
    border: 1px solid #d3d3d3;
}
.cars_bodyR_intext {
    width: 150px;
    height: 22px;
    line-height: 22px;
    /*color: #8f8f8f;*/
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    /*background-color: rgba(5, 28, 52, 0.5);*/
    /*box-shadow: inset 0px 5px 9px 0px*/
    /*rgba(255, 255, 255, 0.56);*/
    /*border: solid 1px rgba(255, 255, 255, 1);*/
    background: rgba(0,0,0,0);
    color: #fff;
    border: 1px solid #27A7FB;
    outline: none;
    text-indent: .4em;
    margin-right: 20px;
}
body .laydate-icon {
    background: rgba(0,0,0,0);
    color: #fff;
    border: 1px solid #27A7FB;
}
.cars_bodyR_add {
    margin-top: 1px;
    width: 76px;
    height: 24px;
    line-height: 24px;
    background: #00baff;
    border: solid 1px #1D74E9;
    color: #fff;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    cursor: default;
    font-size: 14px;
}
.cars_bodyR_add:hover {
    background: #00ebff;
    border: solid 1px #599af1;
}
.cars_bodyR_tableBox {
    position: relative;
    width: 1000px;
    margin: 0 10px;
    margin-bottom: 20px;
    padding: 4px 0;
    overflow-x: auto;
    border: 1px solid #1e8bff;
}
.cars_bodyR_table thead {
    font-size: 14px;
    font-weight: 500;
}
.cars_bodyR_chartBox {
    margin-left: 6px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.cars_chartBox {
    position: relative;
    /*width: 480px;*/
    width: calc(50% - 22px);
    height: 220px;
    margin: 10px;
    margin-top: 0;
    border: 1px solid #1e8bff;
    /*overflow: hidden;*/
}
.cars_frame_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cars_chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cars_frame {
    width: 100%;
    height: 240px;
}
.cars_chartTit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #1686fb;
    line-height: 30px;
}
.cars_chartClose {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    background: none;
    color: #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.cars_chartClose:hover {
    background: none;
}
.choose_time {
    display: none;
    padding-left: 250px;
}
.choose_time.active {
    display: block;
}
.choose_time_flex {
    display: flex;
}
.choose_time_right {
    flex:1;
    padding: 20px 20px 0 20px;
}

.choose_new_right {
    background: rgba(13, 102, 208, 0.48);
    border: 1px solid rgba(86,192,248,0.51);
    box-shadow: 0 0 16px 0 #004fc5;
    min-height: 100%;
}
.h_add {
    line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background: url("../imgs/icon9_active.png") no-repeat center;
}
.h_choose_time {
    margin-right: 40px;
    text-indent: .4em;
}
.zTree-scrollBox-tab {
    margin: 6px 10px;
    border-bottom: 1px solid #f1f1f1;
}
.ztree li span {
    color: #fff;
}
.zTree-scrollBox-tabBtn {
    width: 70px;
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    background: #599af1;
    color: #fff;
    cursor: default;

}

.zTree-scrollBox-tabBtn.on {
    background: #1D74E9;
    color: #ffffff;
    font-weight: 600;
}

.zTree-scrollBox-tabBox {
    display: none;
}
.zTree-scrollBox-tabBox.active {
    display: block;
}
.cars_mapBoxOpen {
    position: absolute;
    right: 0;
    top: 20px;
    width: 110px;
    height: 30px;
    line-height: 30px;
    background: #00baff;
    border-radius: 4px 4px 4px 4px;
    border: solid 0px rgba(0, 71, 133, 1);
    color: #fff;
}
.choose_time_title {
    position: relative;
    line-height: 16px;
    margin: 10px 28px;
    text-align: left;
    text-indent: 14px;
    width: 100px;
    height: 16px;
    /*background: linear-gradient(90deg,*/
    /*rgba(46, 171, 255, 0.7) 0%,*/
    /*rgba(7, 60, 118, 0.7) 100%);*/
}
.choose_time_title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 4px;
    height: 100%;
    background: rgb(199, 189, 6);
}
.popMap {
    position: absolute;
    display: none;
    width: 1050px;
    height: 600px;
    top: 100px;
    right: 50%;
    margin-right: -400px;
    background-color: #fff;
    box-shadow: 0 0 12px #607d8b;
    border: 1px solid #666;
}
.popMapHeader {
    background: #27A7FB;
    border: solid 1px #27A7FB;
    height: 30px;
    line-height: 30px;
}
.popMapHeader-name {
    margin-left: 20px;
}
.popMapHeader-close {
    margin: 0 14px;
}
.popMapHeader-min,.popMapHeader-close {
    margin-top: 7px;

}
.popMapHeader-min:hover,.popMapHeader-close:hover {
    color: #00bbee;
}
.popMap-mapBox {
    margin-top: 10px;
    padding: 0 14px;
    height: 550px;
    overflow-y: auto;
}

body {
    background: #010629;
    height: 100vh;
    color: #fff;
}

.carsomsg {
     width: 370px;
    height: 30px;
    line-height: 30px;
    float:left;
    padding: 5px;
    margin-left: 20px;
    margin-top: 20px;
    background: #27A7FB;
}
.carsoa {
    font-size: 12px;
    color: #fff;
    width: 22px;
    height: 22px;
    background: #1d74e9;
    border-radius: 50%;
    line-height: 22px;
    margin-top: 4px;
}
.carsoa:hover {
    color: rgb(0, 129, 244);
}
.ztree li span {
    font-weight: 200;
}
body .ztree li {
    line-height: 22px;
}
body .ztree li span.button.switch {
    height: 22px;
}
::-webkit-scrollbar {
    height: 8px;
}